*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(235, 235, 235);
  color: var(--BGCOLOR1);
  height: 100vh;
  text-align: center;
}

:root {
  --BGCOLOR1: #008000b3;
  --BGCOLOR2: #fff;
  --COLOR1: #008000db;
  --COLOR2: #fff;
  --BGCOLOR3: #ffff00;
}