/*------------------------------------------GENERAL STYLINGS-------------------------------------- */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  /* background-color:#7e84841d; */
  background-color:rgb(235, 235, 235);
  color:var(--BGCOLOR1);
  height: 100vh;
  text-align: center;
  /* margin-left: 15rem; */
}

:root {
  --BGCOLOR1 :#008000b3;
  --BGCOLOR2 :#fff;
  --COLOR1 :#008000db;
  --COLOR2 :#fff;
  --BGCOLOR3 :#ffff00;
}


/*-----------------------------------GENERAL NAVIGATIONS STYLINGS----------------------------- */
header {
  background-color:  var(--BGCOLOR1);
  color: var(--COLOR2);
  width: 100%;
  }
/*-----------------------------------INDIVIDUAL NAVIGATIONS STYLINGS----------------------------- */
.header-title-line {
  padding: 0.25rem 0.25rem;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
}

.option-button {
  background-color: transparent;
  border: none;
  width: 48px;
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.option-icon,
.option-icon::before,
.option-icon::after {
  background-color: var(--BGCOLOR2);
  width: 20px;
  height: 2px;
  border-radius: 5px;
  position: absolute;
  transition: all 0.5s;
}

.option-icon::before,
.option-icon::after {
  content: "";
}

.option-icon::before {
  transform: translate(-10px, -8px);
}
.option-icon::after {
  transform: translate(-10px, 8px);
}

:is(header:hover,header:focus-within) .option-icon {
  background-color: transparent;
  transform: rotate(720deg);
}
:is(header:hover,header:focus-within) .option-icon::before {
  transform: translateX(-20px) rotate(45deg);
}
:is(header:hover,header:focus-within) .option-icon::after {
  transform: translateX(-20px) rotate(-45deg);
}
:is(header:hover,header:focus-within) nav {
  display: block;
}

nav {
  display: none;
  transform-origin: top center;
  animation: showOption  0.5s ease-in-out forwards;
  background-color: rgba(51, 51, 51, 0.505);
}

nav ul {
  list-style-type: none;
  display: flex;
  flex-flow : column nowrap;
}

nav li {
  padding: 0.5rem;
  border-top: 1px solid var(--COLOR2);
}

nav a {
  display: block;
  text-align: center;
  width: 80%;
  margin: auto;
}

nav a:any-link {
  color: var(--COLOR2);
  font-weight: bold;
  text-decoration: none;
}

nav a:hover,
nav a:focus {
  transform:scale(1.2);
  transition : all 0.3s;
}
#home {
  background-color: var(--BGCOLOR2);
  color:var(--COLOR1);
  text-decoration: none;
  font-size: 1rem;
  min-width: 17rem;
  transition: 0.15s;
  border: 1px solid var(--COLOR1);
}

.quote {
  float: left;
  display: block;
}

#home:hover,#home:focus  {
  background-color: var(--BGCOLOR1);
  color:var(--BGCOLOR2)fff;
  text-decoration: none;
  font-size: 1rem;
}

#library {
  background-color:var(--BGCOLOR2);
  color: var(--COLOR1);
  text-decoration: none;
  font-size: 1rem;
  min-width: 17rem;
  transition: 0.15s;
  border: 1px solid var(--COLOR1);
}
#library:hover,#library:focus  {
  background-color: var(--BGCOLOR1);
  color:var(--BGCOLOR2)fff;
  text-decoration: none;
  font-size: 1rem;
}

#brainteasers {
  background-color:var(--BGCOLOR2);
  color: var(--COLOR1);
  text-decoration: none;
  font-size: 1rem;
  min-width: 17rem;
  transition: 0.15s;
  border: 1px solid  var(--COLOR1);
}
#brainteasers:hover ,#about:focus {
  background-color:  var(--BGCOLOR1);
  color:var(--BGCOLOR2)fff;
  text-decoration: none;
  font-size: 1rem;
}
#questionbunk {
  background-color:var(--BGCOLOR2);
  color:  var(--COLOR1);
  text-decoration: none;
  font-size: 1rem;
  min-width: 17rem;
  transition: 0.15s;
  border: 1px solid  var(--COLOR1);
}
#questionbunk:hover,#questionbunk:focus  {
  background-color:  var(--BGCOLOR1);
  color:var(--BGCOLOR2)fff;
  text-decoration: none;
  font-size: 1rem;
}
#about {
  background-color:var(--BGCOLOR2);
  color:  var(--COLOR1);
  text-decoration: none;
  font-size: 1rem;
  min-width: 17rem;
  transition: 0.15s;
  border: 1px solid  var(--COLOR1);
}
#about:hover,#about:focus  {
  background-color: var(--COLOR1);
  color:var(--BGCOLOR2)fff;
  text-decoration: none;
  font-size: 1rem;
}



@keyframes showOption {
  0% {
    transform: scaleY(0);
  }

  80% {
    transform: scaleY(1.2);
  }

  100% {
    transform: scaleY(1);
  }
}

.imglogo {
  width: 10rem;
  height: 10rem;
  border-radius: 5rem;
}

#lib {
font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.header2 {
  font-size: 0.75rem;
  font-family: cursive;
  white-space: nowrap;
}
 
main {
  background-color:rgb(235, 235, 235);
  width: 100%;
}
.general {
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: #fff;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

#linkers {
  background-color: var(--BGCOLOR2);
  background-image: linear-gradient(green, whitesmoke);
  width: 8rem;
  height: 12rem;
  border: 2px solid green;
  border-radius: 1rem;
}

figure {
  display: inline-block;
}

img {
  width: 6rem;
  height: 6rem;
  margin-top: 1rem;
}

figcaption {
  color: var(--COLOR2);
}

/* || X-XTRASMALL */

@media screen and (min-width:200px) {
  #lib {
    font-size: 2rem;
    font-style: oblique;
  }

  #home , #library , #questionbunk , #brainteasers , #about {
    min-width: 5rem;
  }

  .name {
    font-size: 1.2rem;
  }

  .header2 {
    font-size: 0.6rem;
  }

  .imglogo {
    width: 7rem;
    height: 7rem;
  }

  figcaption {
    color: var(--BGCOLOR1);
  }

  #linkers {
    width: 7rem;
    height: auto;
  }

  img {
    width: 6rem;
  }
}
@media screen and (min-width:350px) {
  #lib {
    font-size: 3rem;
    font-style: oblique;
  }

  .quote {
    font-size: 1.2em;
  }

  .name {
    font-size: 1.5rem;
  }

  .header2 {
    font-size: 0.6rem;
  }

  .imglogo {
    width: 8rem;
    height: 8rem;
  }

  figcaption {
    color: var(--BGCOLOR1);
  }

  #linkers {
    width: 10rem;
    height: 12rem;
  }

  img {
    width: 8rem;
    height: 6rem;
  }
}
/* || XTRASMALL */

@media screen and (min-width:500px) {
  #lib {
    font-size: 3rem;
    font-style: oblique;
  }

  #linkers {
    width: 14rem;
  }

  img {
    width: 10rem;
  }
}

/* || SMALL */

@media  screen and (min-width:600px) {
  #linkers {
    width: 15rem;
    height: 15rem;
  }

  p {
    font-size: 2em;
  }

  .quote {
    font-size: 2em;
  }

  #lib {
    font-size: 3rem;
    font-weight: bolder;
    font-style: oblique;
    font-family: fantasy;
  }

  .imglogo {
    width: 12rem;
    height: 12rem;
    border-radius: 6rem;
  }

  img {
    width: 10rem;
    height: 8rem;
  }

  .header2 {
    font-size: 1.5rem;
    font-family: cursive;
  }

  figcaption {
    font-size: 25px;
    color:#000 ;
  }
}

/* || MEDIUM */

@media screen and (min-width:760px) {
  #lib {
    font-size: 5rem;
  }

  #linkers {
    width: 20rem;
    height: 15rem;
  }

  img {
    width: 15rem;
    height: 8rem;
  }
}

/* || LARGE */

@media screen and (min-width: 992px) {
  .general {
    grid-template-columns: 1fr 1fr 1fr;
  }
  
}