/*------------------------------------------GENERAL STYLINGS-------------------------------------- */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #9190904f;
  color:var(--BGCOLOR1);
  width: auto;
  height: auto;
  text-align: center;
  /* margin-left: 15rem; */
}

:root {
  --BGCOLOR1 :#008000b3;
  --BGCOLOR2 :#ffffff;
  --COLOR1 :#008000db;
  --COLOR2 :#fff;
  --BODYCOLOR :#bfbf19c5;
}


/*-----------------------------------GENERAL NAVIGATIONS STYLINGS----------------------------- */
header {
  background-color:  var(--BGCOLOR1);
  color: var(--COLOR2);
  }
/*-----------------------------------INDIVIDUAL NAVIGATIONS STYLINGS----------------------------- */
.header-title-line {
  padding: 0.25rem 0.5rem;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
}

.option-button {
  background-color: transparent;
  border: none;
  width: 48px;
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.option-icon,
.option-icon::before,
.option-icon::after {
  background-color: var(--BGCOLOR2);
  width: 15px;
  height: 3px;
  border-radius: 5px;
  position: absolute;
  transition: all 0.5s;
}

.option-icon::before,
.option-icon::after {
  content: "";
}

.option-icon::before {
  transform: translate(-8px, -8px);
}
.option-icon::after {
  transform: translate(-8px, 8px);
}

:is(header:hover,header:focus-within) .option-icon {
  background-color: transparent;
  transform: rotate(720deg);
}
:is(header:hover,header:focus-within) .option-icon::before {
  transform: translateX(-20px) rotate(45deg);
}
:is(header:hover,header:focus-within) .option-icon::after {
  transform: translateX(-20px) rotate(-45deg);
}
:is(header:hover,header:focus-within) nav {
  display: block;
}

nav {
  display: none;
  transform-origin: top center;
  animation: showOption  0.5s ease-in-out forwards;
  background-color: rgba(51, 51, 51, 0.505);
}

nav ul {
  list-style-type: none;
  display: flex;
  flex-flow : column nowrap;
}

nav li {
  padding: 0.5rem;
  border-top: 1px solid var(--COLOR2);
}

nav a {
  display: block;
  text-align: center;
  width: 90%;
  margin: auto;
}

nav a:any-link {
  color: var(--COLOR2);
  font-weight: bold;
  text-decoration: none;
}

nav a:hover,
nav a:focus {
  transform:scale(1.2);
  transition : all 0.3s;
}


@keyframes showOption {
  0% {
    transform: scaleY(0);
  }

  80% {
    transform: scaleY(1.2);
  }

  100% {
    transform: scaleY(1);
  }
}
 #home {
  background-color: var(--BGCOLOR2);
  color:var(--COLOR1);
  text-decoration: none;
  font-size: 1rem;
  min-width: 17rem;
  transition: 0.15s;
  border: 1px solid var(--COLOR1);
}

#home:hover,#home:focus  {
  background-color: var(--BGCOLOR1);
  color: var(--COLOR2)fff;
  text-decoration: none;
  font-size: 1rem;
}

#library {
  background-color: var(--COLOR2);
  color: var(--COLOR1);
  text-decoration: none;
  font-size: 1rem;
  min-width: 17rem;
  transition: 0.15s;
  border: 1px solid var(--COLOR1);
}
#library:hover,#library:focus  {
  background-color: var(--BGCOLOR1);
  color: var(--COLOR2)fff;
  text-decoration: none;
  font-size: 1rem;
}

#brainteasers {
  background-color: var(--COLOR2);
  color: var(--COLOR1);
  text-decoration: none;
  font-size: 1rem;
  min-width: 17rem;
  transition: 0.15s;
  border: 1px solid  var(--COLOR1);
}
#brainteasers:hover ,#about:focus {
  background-color:  var(--BGCOLOR1);
  color: var(--COLOR2)fff;
  text-decoration: none;
  font-size: 1rem;
}
#questionbunk {
  background-color: var(--COLOR2);
  color:  var(--COLOR1);
  text-decoration: none;
  font-size: 1rem;
  min-width: 17rem;
  transition: 0.15s;
  border: 1px solid  var(--COLOR1);
}
#questionbunk:hover,#questionbunk:focus  {
  background-color:  var(--BGCOLOR1);
  color: var(--COLOR2)fff;
  text-decoration: none;
  font-size: 1rem;
}
#about {
  background-color: var(--COLOR2);
  color:  var(--COLOR1);
  text-decoration: none;
  font-size: 1rem;
  min-width: 17rem;
  transition: 0.15s;
  border: 1px solid  var(--COLOR1);
}
#about:hover,#about:focus  {
  background-color: var(--COLOR1);
  color: var(--COLOR2)fff;
  text-decoration: none;
  font-size: 1rem;
}

.name {
  font-size: 1.5rem;
  font-weight: bold;
  font-family:'Times New Roman', Times, serif;
  font-style: oblique;
}

img { 
  width: 90%;
  border-radius: 6px;
  padding-top: 3%;
  margin-left: auto;
  margin-right: auto;
}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 5%;
  margin-left: auto;
  margin-right: auto;
}
figure {
  width: 95%;
  background-color: #fff;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
}

a {
  text-decoration: none;
  color: #008000b3;
}

.message {
  background-color: #fff;
  width: 95%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5%;
}